[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
aiohttp = "*"
"aiohttp-jinja2" = "*"
pymysql = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
